In [1]:
import requests

In [2]:
headers= {
    'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/104.0.0.0 Safari/537.36'
}
r = requests.get('https://finance.naver.com/item/sise_day.naver?code=035420&page=6', headers=headers)

r.status_code

200

In [4]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(r.text, 'html.parser')

In [13]:
# 큰 태그 선정 하고
type2_table = soup.select_one('.type2')

# 그 안에서 태그를 추가적으로 검색
tr_tags = type2_table.select('tr')

In [11]:
# soup.select_one('.type2 tr')

In [17]:
columns = [
    '날짜', '종가', '전일비', '시가', '고가', '저가', '거래량'
]
columns

['날짜', '종가', '전일비', '시가', '고가', '저가', '거래량']

In [34]:
# 최종 일별 시세를 담을 배열
stock_result = []

# tr 태그들을 하나씩 가져온다.
for tr_tag in tr_tags:
    # tah 클래스를 가진 태그가 없으면, 에러가 발생
    # 에러가 발생하는 부분은 헤더부분(<th>)과 구분선(<td colspan=8>) 부분
    try:
        # 해당 tr 태그에서 tah라는 클래스를 가진 태그를 하나 선택
        # print(tr_tag.select_one('.tah').text)
        # --> 날짜 태그
        date = tr_tag.select_one('.tah').text
        
        # 해당 tr 태그에서 num이라는 클래스를 가진 태그를 모두 선택 (결과 - 배열)
        nums = tr_tag.select('.num')
        
        # 가격들을 저장할 임시변수 temp
        temp = []
        # num 클래스를 가진 태그를 하나씩 가져온다.
        for num in nums:
            # 해당 태그의 text 속성을 출력
            # print(num.text.strip(), end='\t')
            # 해당 태그의 text 속성을 하나씩 담는다.
            temp.append(num.text.strip())
        
        # 딕셔너리로 했을 때 날짜를 key로 가격들을 값으로
        # stock_result[date] = temp
        
        # 빈 배열에 date와 temp를 넣어서 그것을 최종 결과에 담아줌
        # list앞에 *를 붙여주면, 안에있는 요소가 하나씩 풀려서 나온다.
        stock_result.append( [date, *temp] )
            
        # print()
        
    except:
        # 에러 발생하면, 그냥 패스 (필요없는 데이터)
        pass

In [35]:
stock_result[0]

['2022.06.22', '229,000', '10,500', '239,500', '239,500', '227,000', '894,578']

In [36]:
columns

['날짜', '종가', '전일비', '시가', '고가', '저가', '거래량']

In [40]:
# 참고
# print(*temp, sep='  ***  ')
# temp = ['229,000', '10,500', '239,500', '239,500', '227,000', '894,578']
# *temp = '229,000', '10,500', '239,500', '239,500', '227,000', '894,578'

273,000  ***  5,000  ***  275,500  ***  277,500  ***  269,000  ***  753,205