In [2]:
%pip install PyMySQL

Collecting PyMySQL
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
Installing collected packages: PyMySQL
Successfully installed PyMySQL-1.0.2
Note: you may need to restart the kernel to use updated packages.

In [32]:
import pymysql
import csv
# 전역변수 선언부
conn, cur = None, None
data1, data2, data3, data4 = "", "", "", ""
sql=""
# 메인 코드
conn = pymysql.connect(host='localhost', user='root', password='1111', db='shoppingDB', charset='utf8')
cur = conn.cursor()
cur.execute("CREATE TABLE IF NOT EXISTS userTable (id char(4), userName \
    char(15), email char(20), birthYear int)")
cur=conn.cursor()

In [33]:
cur.execute("INSERT INTO userTable VALUES('john', 'John Bann', 'john@naver.com', 1990)")
cur.execute("INSERT INTO userTable VALUES('kim', 'kim mike', 'kim@naver.com', 1980)")
cur.execute("INSERT INTO userTable VALUES('park', 'park minseo', 'park@naver.com', 2000)")
conn.commit()
conn.close()

In [35]:
import pymysql
# 전역변수 선언부
con, cur = None, None
data1, data2, data3, data4 = "", "", "", ""
row=None
# 메인 코드
conn = pymysql.connect(host='localhost', user='root', password='1111', db='shoppingDB', charset='utf8')
cur = conn.cursor()
cur.execute("SELECT * FROM userTable")
print("사용자ID    사용자이름    이메일        출생연도")
print("----------------------------------------------------")
while (True) :
    row = cur.fetchone()
    if row== None :
        break
    data1 = row[0]
    data2 = row[1]
    data3 = row[2]
    data4 = row[3]
    print("%5s   %15s   %15s   %d" % (data1, data2, data3, data4))
conn.close()

사용자ID    사용자이름    이메일        출생연도
----------------------------------------------------
 john         John Bann    john@naver.com   1990
  kim          kim mike     kim@naver.com   1980
 park       park minseo    park@naver.com   2000
 john         John Bann    john@naver.com   1990
  kim          kim mike     kim@naver.com   1980
 park       park minseo    park@naver.com   2000
 john         John Bann    john@naver.com   1990
  kim          kim mike     kim@naver.com   1980
 park       park minseo    park@naver.com   2000
 john         John Bann    john@naver.com   1990
  kim          kim mike     kim@naver.com   1980
 park       park minseo    park@naver.com   2000

In [ ]:
import csv
import pymysql

conn = pymysql.connect(host='localhost', user='root', password='1111', db='shoppingDB', charset='utf8')
cur = conn.cursor()

f = open('data.csv', 'r') # csv 파일이 utf8로 인코딩이 되어 있을 때
csvReader = list(csv.reader(f))
cur.execute("CREATE TABLE IF NOT EXISTS sba (name char(10), sex char(1), class char(1), attend char(1))")    

for data in csvReader[1:]: # csv 파일에 column명이 있다면 csvReader[1:]로 설정하고 하면 된다.
    row1 = data[0]
    row2 = data[1]
    row3 = data[2]
    row4 = data[3]

    sql = """insert into ubion (name, sex, class, attend) values(%s, %s, %s, %s);"""
    cur.execute(sql, (row1, row2, row3, row4))

f.close()
conn.commit()